@model LegalAccessInnovationFund.Web.Models.ViewModels.ApplicationViewModel

@{
    ViewBag.Title = "ApplicationForm";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@{
    ViewBag.Title = "ApplicationForm";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 class="title-bg">Fill Out Our Application</h1>
<div class="row">
    <div class="span3">

    </div>
    <div class="span3">
        

        <br />
        @*@using (Html.BeginForm("SubmitApplication", "Profile", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        }*@
        <div ng-app="app" ng-controller="applicationController">

            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="text" placeholder="First Name" ng-model="application.FirstName">
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="text" placeholder="Last Name" ng-model="application.LastName">
            </div>
            <br />

            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="text" placeholder="City" ng-model="application.City">
            </div>
            <br />

            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="text" placeholder="State" ng-model="application.State">
            </div>

            <br />
            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="text" placeholder="Country" ng-model="application.Country">
            </div>
            <br />

            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="text" placeholder="Email" ng-model="application.Email">
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span4" id="prependedInput" size="16" type="date" placeholder="Date Of Birth" ng-model="application.DateOfBirth">
            </div>
            <br />

            <div>
                <input type="submit" class="btn btn-large" ng-click="submit(application)" />
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />

        </div>
    </div>
    <div class="span3">

    </div>
</div>

@section scripts{
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>*@
    <script>

        var app = angular.module("app", []);

        app.controller("applicationController", function ($http, $scope) {

            $scope.submit = function (input) {
                $http.post("/profile/submitapplication", input).success(function () {
                    console.log("success");
                });
            }
        });
    </script>
    }