@model LegalAccessInnovationFund.Web.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

        <div class="span8 blog"><!--Begin page content column-->

            <h2>@Model.Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna.</p>


            @foreach (var campaign in Model.Campaigns)
            {
                <!-- Blog Post 1 -->
                <article class="clearfix">
                    <a href="/campaigns/campaignview/@campaign.CampaignId"><img src="@campaign.Picture" alt="Post Thumb" class="align-left"></a>
                    <h4 class="title-bg">@campaign.Title</h4>
                    <p>@campaign.Story </p>
                    @Html.ActionLink("Read more", "CampaignView", "Campaign", new { id = campaign.CampaignId }, new { @class= "btn btn-mini btn-inverse", type="button" })
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> @campaign.DatePosted</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> @campaign.Contributions.Count() Contributors</li>
                            @*<li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>*@
                        </ul>
                    </div>
                </article>
               }
        </div> <!--End page content column-->

        <!-- Sidebar
        ================================================== --> 
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
            <h5 class="title-bg">Our Location</h5>
            <address>
            <strong>Piccolo</strong><br>
            123 Main St, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
             
            <address>
            <strong>Jimmy Doe</strong><br>
            <a href="mailto:#">first.last@gmail.com</a>
            </address>

            <h5 class="title-bg"></h5>
            <img src="@Model.Avatar" alt="map">

        </div><!-- End sidebar column -->

    </div><!-- End container row -->

@section scripts{
    <script>
        
    </script>
}
