@model LegalAccessInnovationFund.Web.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="span9 contact">
        @if (!Model.Campaigns.Any())
        {
            <div class="span3"></div>
            <div class="span3">

                <h2>You Have No Campaigns</h2>

                <h5>Start A Campaign Today</h5>
                <a href="/campaigns/campaignbegin" class="btn btn-large btn-primary outline">Go To Start Campaign</a>
            </div>
            <div class="span3"></div>
        }
        else
        {
            <ul class="gallery-post-grid holder">
                @foreach (var item in Model.Campaigns)
                {
                    <li class="span3 gallery-item" data-id="id-1" data-type="illustration">

                        <a href=""><img src="@item.Picture" alt="Gallery"></a>
                        <span class="project-details"><a href="gallery-single.htm">@item.Title</a>Date Added: @item.DatePosted</span>
                    </li>
                }
            </ul>
        }
    </div>

    <div class="span3 sidebar page-sidebar">

        <h5 class="title-bg"></h5>
        <img src="@Model.Avatar" alt="map">

        <h5 class="title-bg">Profile</h5>
        <address>
            <strong>@Model.Name</strong><br>
            Contributions: @Model.Contributions.Count()<br>
            Campaigns: @Model.Campaigns.Count()<br>
        </address>

        <h5 class="title-bg">
            Contributions
        </h5>
    </div>
</div>
@section scripts{
    <script>

        var app = angular.module('app', []);

        app.filter('startFrom', function () {
            return function (input, start) {
                if (input === undefined) {
                    return input;
                } else {
                    return input.slice(+start);
                }
            };
        });

        app.filter('range', function () {
            return function (input, total) {
                total = parseInt(total);
                for (var i = 0; i < total; i++) {
                    input.push(i);
                }
                return input;
            };
        });

        app.factory('Pagination', function () {

            var pagination = {};

            pagination.getNew = function (perPage) {

                perPage = perPage === undefined ? 5 : perPage;

                var paginator = {
                    numPages: 1,
                    perPage: perPage,
                    page: 0
                };

                paginator.prevPage = function () {
                    if (paginator.page > 0) {
                        paginator.page -= 1;
                    }
                };

                paginator.nextPage = function () {
                    if (paginator.page < paginator.numPages - 1) {
                        paginator.page += 1;
                    }
                };

                paginator.toPageId = function (id) {
                    if (id >= 0 && id <= paginator.numPages - 1) {
                        paginator.page = id;
                    }
                };

                return paginator;
            };

            return pagination;
        });

        app.controller('profileController', function ($http, $scope, Pagination) {


            var profileData = function () {
                $http.get('/profile/profileviewjs').then(function (result) {
                    $scope.pagination = Pagination.getNew(5);
                    $scope.profileData = result.data;
                });
            }


            profileData();

            $scope.pagination.numPages = Math.ceil($scope.profileData.length / $scope.pagination.perPage);

        });



    </script>
}


